.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  display: flex;
}
.button--contained {
  color: white;
  border: 0;
  border-radius: 8px;
  background-color: #1967ff;
}
.button--outlined {
  color: #1967ff;
  font-weight: 600;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #344054;
}
.button--default {
  color: #4785ff;
  border: 0;
  background-color: transparent;
}
.button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button--large {
  font-size: 16px;
  padding: 12px 24px;
}
.button-wrapper {
  margin-right: 10px;
}
